#parent {
  width: 600px;
  text-align: justify;
  margin: 0 auto;
}
#parent > * {
  margin-bottom: 10px;
}

#timer {
  text-align: center;
  font-size: 18px;
}
#text {
  text-align: center;
  font-size: 17px;
  font-style: italic;
}

.title {
  text-align: center;
}

button {
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

button:not(.active) {
  display: none;
}
